@{
    ViewData["Title"] = "ProjManagerDashboard";
}

<h1>Project Manager Dashboard</h1>

<h3><a asp-controller="Project" asp-action="ListProjectsPM">List of Projects</a></h3>
<h3><a asp-controller="Project" asp-action="AssignDeveloperToProject">Assign Developer to Project</a></h3>

 <a class="btn btn-primary" style="margin: 2rem 0rem 2rem 0rem;" asp-controller="Home" asp-action="Index">Index</a>
