@{
    ViewData["Title"] = "ProjManagerDashboard";
}

<h1>Project Manager Dashboard</h1>

<h3><a asp-controller="Project" asp-action="ListProjectsPM">List of Projects</a></h3>
<h3><a asp-controller="Project" asp-action="AssignDeveloperToProject">Assign Developer to Project</a></h3>


