@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authentication;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model ApplicationUser
@{
    var signInManager = SignInManager;
    //await signInManager.SignInAsync(Model,false,    )

    var result = await signInManager.PasswordSignInAsync(Model.Email, "Password!1", isPersistent: false, lockoutOnFailure: false);
    bool re = result.Succeeded;
}

 <form asp-controller="Guest" asp-action="Index" method="post" id="guestId">
    <input type="hidden" name="result" value="@result"/>
</form>

<script type="text/javascript">document.forms["guestId"].submit();
</script>

