@model Ticket
<h2>Assign Developer to Ticket</h2>

<form asp-action="AssignDeveloperToTicket" method="post">
    <select asp-items="@ViewBag.developerList" name="developerId">

    </select>
    <input type="hidden" name="ticketId" value="@ViewBag.ticketId"/>
    <input type="submit" value="Assign" class="btn btn-primary" style="margin: 2rem 0rem 2rem 0rem;"/>
</form>

<div style="margin: 2rem 0rem 2rem 0rem;">
     @ViewBag.NoDevelopersAssignedToProjectMsg
</div>

<div>
    <a asp-controller="Project" asp-action="ListProjectPM">Back to Project Manager's Projects</a> |
    <a asp-controller="Ticket" asp-action="ProjectTickets" asp-route-projectId="@Model.ProjectId">Back to Project's Tickets</a>
</div>
